extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", class="img-fluid" alt="imagen sobre nosotros")
            .col-md-7
                h1 #{pagina}
                
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a blandit turpis. Ut suscipit hendrerit scelerisque. Mauris bibendum, ligula sed placerat accumsan, nisi tortor fringilla ante, sagittis imperdiet tellus nulla non augue. Praesent quis urna purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam interdum tincidunt enim, a laoreet sapien iaculis sed. Duis nibh enim, aliquam maximus tortor non, volutpat pretium augue. Nulla ac cursus quam. Praesent sit amet scelerisque felis. Aliquam vitae augue ac nunc sodales ullamcorper lobortis non sem.

                p Ut eu tristique eros. Mauris volutpat sollicitudin condimentum. Suspendisse ac enim at eros interdum euismod. Phasellus aliquam consectetur nibh, eu tincidunt dui accumsan nec. Proin et leo quis dolor congue pulvinar et ac velit. Quisque luctus cursus ante. Etiam dignissim libero sed enim imperdiet, a egestas quam aliquam. Praesent id lorem porttitor, commodo orci eget, aliquam leo.

                p Phasellus eu tempus erat. Phasellus aliquam justo at arcu aliquam, eget imperdiet nulla lacinia. Quisque bibendum nunc augue, aliquet hendrerit lectus ultrices sit amet. Ut sed ligula tempus, fringilla nulla nec, fermentum tellus. Quisque eu urna suscipit, sollicitudin lacus eget, aliquet lorem. Quisque purus est, ultricies et hendrerit vitae, laoreet nec tellus.

        .listado-iconos.mt-5
            .container.mt-5-py-5.text-center
             .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", class="img-fluid mb-4" alt="icono seguridad")
                    h2 Seguridad
                    p Quisque bibendum nunc augue, aliquet hendrerit lectus ultrices sit amet. Ut sed ligula tempus, fringilla nulla nec, fermentum tellus.
                .col-md-4
                    img(src="/img/icono_destinos.svg", class="img-fluid mb-4" alt="icono destinos")
                    h2 Mejores Destinos
                    p Quisque bibendum nunc augue, aliquet hendrerit lectus ultrices sit amet. Ut sed ligula tempus, fringilla nulla nec, fermentum tellus.
                .col-md-4
                    img(src="/img/icono_precios.svg", class="img-fluid mb-4" alt="icono precios")
                    h2 Mejores Precios
                    p Quisque bibendum nunc augue, aliquet hendrerit lectus ultrices sit amet. Ut sed ligula tempus, fringilla nulla nec, fermentum tellus.